
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid w-75 p-3 page">

    <br />
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="row m-2 p-5">

        <div class="row">
            <p>
                Si ha olvidado su contraseña, introduzca su dirección de e-mail en el recuadro y pinche en recuperar. <b>ES MUY IMPORTANTE QUE LO HAGA UNA SOLA VEZ PARA EVITAR RESETEOS CONSTANTES DE SU CONTRASEÑA</b>, 
                inmmediatamente le enviaremos una contraseña nueva.
                Si su cuenta de correo es gratuita (Hotmail, Yahoo, Wanadoo, etc...) seguramente lo reciba en el apartado de CORREO NO DESEADO. 
                En muchos casos estas compañias bloquean nuestros correos tratandolos como spam.
            </p>

            <p>En caso de no recibir el nuevo password en su mail pasados 15 mins pongase en contacto con nosotros desde el apartado de Contactar.</p>

        </div>
        
        <form class="row">

            <div class="inputgroup">
                <input type="email" class="input" id="EmailRecuperar" name="Email" placeholder="mail@mail.es" autocomplete="off">
                <input class="buttonsubmit" value="Recuperar" type="submit">
            </div>

        </form>

    </div>

</div>



