@model Web.Data.Cliente
@using Web.Business

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid w-85 p-3 page">

    <br />
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />

    <div class="row" id="CuerpoIndex">

        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 boxFilters">

            <div>
                <p class="boxTitle">Tipo cliente</p>

                <div class="options">

                    <label class="cl-checkbox">
                      <input type="checkbox">
                      <span>Autónomos</span>
                    </label>

                    <label class="cl-checkbox">
                      <input type="checkbox">
                      <span>Empresa</span>
                    </label>

                </div>
                
            </div>

            <div>
                <p class="boxTitle">Ordenar</p>

                <div class="options">

                    <label class="radio-inline">
                        <input class="radio_orden" type="radio" name="orden" value="Ascendente" checked id="OrderAscIndex"> Ascendente
                    </label>

                    <label class="radio-inline">
                        <input class="radio_orden" type="radio" name="orden" value="Descendente" id="OrderDescIndex"> Descendente
                    </label>

                </div>
                

            </div>

        </div>
    
    </div>
    

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
         $( document ).ready(function() {
            CargarClientes();
        });
    </script>

}