@model Web.Data.Cliente
@using Web.Business

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid w-75 p-3 page">

    <br />
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />

    <table class="table nowrap" id="datatableIndexClientes" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Código contabilidad</th>
                <th scope="col">Nombre fiscal</th>
                <th scope="col">Nombre comercial</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Fax</th>
                <th scope="col">Móvil</th>
                <th scope="col">E-mail</th>
                <th scope="col">N.I.F.</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="IndexdatosClientes">
        </tbody>
    </table>

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $( document ).ready(function() {
            CargarClientes("@variables.MsgNodata");
        });

    </script>

}