@model Web.Data.Cliente
@using Web.Business

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid w-85 p-3 page">

    <br />
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />

    <div class="row">

        <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 boxFilters">

            <div>
                <p class="boxTitle">Tipo cliente</p>

                <div class="options">

                    <label class="cl-checkbox">
                      <input type="checkbox">
                      <span>Autónomos</span>
                    </label>

                    <label class="cl-checkbox">
                      <input type="checkbox">
                      <span>Empresa</span>
                    </label>

                </div>
                
            </div>

            <div>
                <p class="boxTitle">Ordenar</p>

                <div class="options">

                    <label class="radio-inline">
                        <input class="radio_orden" type="radio" name="orden" value="Ascendente" checked> Ascendente
                    </label>

                    <label class="radio-inline">
                        <input class="radio_orden" type="radio" name="orden" value="Descendente"> Descendente
                    </label>

                </div>
                

            </div>

        </div>
    
        <table class="table nowrap col-sm-12 col-md-10 col-lg-10 col-xl-10" id="datatableIndexClientes">
            <thead>
                <tr class="tr">
                    <th scope="col">Código contabilidad</th>
                    <th scope="col">Nombre fiscal</th>
                    <th scope="col">Nombre comercial</th>
                    <th scope="col">Móvil</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">N.I.F.</th>
                    <th scope="col">Agente</th>
                    <th scope="col">Tipo de Cliente</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="IndexdatosClientes">
            </tbody>
        </table>

    </div>
    

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        //$( document ).ready(function() {
        //    CargarClientes("@variables.MsgNodata");
        //});

    </script>

}